<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emdev.tarso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tarso"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tarso_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarso">
        <activity android:name=".RadioActivity"
            android:parentActivityName=".MainActivity"
            android:hardwareAccelerated="true"></activity>
        <activity android:name=".RegistroProfActivity" />
        <activity android:name=".ResetPaswordActivity" />
        <activity android:name=".RegistroEstActivity" />
        <activity
            android:name=".NoticiasActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrabajosDocentesActivity"
            android:parentActivityName=".MenuDocentesActivity" />
        <activity
            android:name=".TrabajosActivity"
            android:parentActivityName=".MenuEstudiantesActivity" />
        <activity
            android:name=".MenuEstudiantesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MenuDocentesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TraductorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuimicaActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MapasActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".calculadoraActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tarso.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <receiver android:name=".Services.NotificationActionService" />
        <service android:name=".Services.OnClearFromRecentService" />
    </application>

</manifest>