<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emdev.tarso">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_tarso"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tarso_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarso">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />

        <activity android:name=".LoginActivity"
            android:parentActivityName=".StartActivity"></activity>
        <activity android:name=".MainChatActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".StartActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MessageActivity"
            android:parentActivityName=".MainChatActivity"/>
        <activity
            android:name=".QrActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RadioActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistroProfActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResetPaswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegistroEstActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NoticiasActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrabajosDocentesActivity"
            android:parentActivityName=".MenuDocentesActivity" />
        <activity
            android:name=".TrabajosActivity"
            android:parentActivityName=".MenuEstudiantesActivity" />
        <activity
            android:name=".MenuEstudiantesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MenuDocentesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TraductorActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuimicaActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MapasActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".calculadoraActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tarso.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>